:javascript
  Log.id = '#{@log.id}'
  Log.name = '#{@log.name}'
    
#marker(style="display: none")
=list_entries(@log,@entries)
  
- content_for :column do
  .search
    = text_field_tag 'search_value', '', :id => 'search_field'
    .search_loader
    .search_button
    .clear
  %h1
    Options
  .options
    = show_full_backtrace_checkbox
    = freeze_updates_checkbox
  %h1 Hide these actions:
  #controllers
    = list_controllers(@log.controllers)

:javascript
  Entry.initialize()